<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%=title%> </title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>

  <main>
    <section class="container mx-auto h-screen text-center flex flex-col justify-center items-center">
      <h1 class="text-4xl">
        About
      </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis commodi amet nemo error similique, nesciunt eum adipisci ullam suscipit inventore rerum delectus, est blanditiis praesentium officiis itaque nam placeat quidem eligendi corrupti provident? Commodi numquam nemo rem ad illum qui, aperiam nulla molestias distinctio eos est inventore ullam, in impedit, vero iusto eligendi beatae fuga optio neque mollitia animi veniam! Alias, quas. Atque quis aut maiores quia quo sint velit soluta sequi ullam, molestiae repellendus ex similique neque facilis exercitationem. Saepe magni eum voluptas ipsa exercitationem nihil adipisci, molestias ea. Minima deserunt a molestias hic autem, incidunt, tempore, veritatis non illo esse ducimus pariatur excepturi omnis officiis facere fugiat quasi possimus. Dolore, voluptates obcaecati ipsa quidem esse impedit quam amet architecto. Est tenetur nihil sint saepe, nemo consectetur numquam corporis ex distinctio amet nisi, blanditiis qui ut nobis provident quae dolore nesciunt. Eum delectus, neque mollitia cumque veniam rem quam, incidunt sed reiciendis nobis iste aperiam, dolores cum vero sint asperiores libero ipsam excepturi dolorem. Nobis aut eaque dolorum voluptate perspiciatis doloremque nemo corporis ipsam ratione hic numquam tenetur iusto, esse animi illum cumque qui enim voluptatibus! Quo vero optio adipisci corporis fugit provident non consectetur quisquam cupiditate beatae necessitatibus rerum deleniti aperiam iste sunt suscipit ipsum, fugiat voluptatem, sed dolores facere? Perspiciatis, praesentium earum. Sunt dicta dolorum facilis, consequuntur consequatur unde cum deleniti est, numquam fugit necessitatibus architecto voluptatum repudiandae commodi vel, neque voluptas iusto reprehenderit nisi? Earum voluptates commodi ad tenetur eaque quam eligendi quaerat. Rem sequi, saepe optio perspiciatis cumque omnis. Ullam praesentium quisquam labore sed, molestias quidem neque eos ab, non provident nisi dolor porro quia obcaecati, distinctio architecto aliquid quos odio ratione. Quod modi ab molestiae. Alias accusantium accusamus recusandae ab voluptatum neque a beatae, dolor voluptatibus magnam vero modi dignissimos deserunt aspernatur fugiat! Consequatur!</p>
    </section>
  </main>

  <%- include('partials/footer') %>
</body>
</html>